<div class="calendar">
    <!-- BEGIN calendar-body -->
    <div class="calendar-body">
        <div id="calendar"></div>
    </div>
    <!-- ENG calendar-body -->
    <!-- BEGIN calendar-sidebar -->
    <div class="calendar-sidebar">
        <div class="desktop-sticky-top flex-fill">
            <div class="calendar-sidebar-title">Legend:</div>
            <div class="fc-event-list" id="external-events">
                <div class="fc-event-item">
                    <div class="fc-event-link" data-color="#FF9500"><i class="fa fa-circle fs-8px me-2 text-warning"></i> For Approval</div>
                </div>
                <div class="fc-event-item">
                    <div class="fc-event-link" data-color="#e6180d"><i class="fa fa-circle fs-8px me-2 text-danger"></i> Expired</div>
                </div>
                <div class="fc-event-item">
                    <div class="fc-event-link" data-color="#1f6bff"><i class="fa fa-circle fs-8px me-2 text-yellow"></i> On-Hold</div>
                </div>
                <div class="fc-event-item">
                    <div class="fc-event-link" data-color="#028824"><i class="fa fa-circle fs-8px me-2 text-success"></i> Approved</div>
                </div>
            </div>
        </div>
    </div>
    <!-- ENG calendar-sidebar -->


    <div class="modal fade" id="viewscad" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 500px!important;">
            <div class="modal-content border-primary">
                <div class="modal-header">
                    <h5 class="modal-title">Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <h4 class="list-group-item text-danger"><strong>Appointment Date: </strong> {{apdate | date:'MM/dd/yyyy'}}</h4>
                        </div>
                        <div class="col-xl-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="suggestion0"><strong>Name: </span></strong>{{coname}}</span>
                                </li>
                                <li class="list-group-item"><span class="suggestion2"><strong>Car Brand:</strong> {{cbrand}}</span></li>
                                <li class="list-group-item"><span class="suggestion2"><strong> Car Transmission: </strong>{{ctransmission}}</span></li>
                                <li class="list-group-item"><span class="suggestion2"><strong>Car Model:</strong> {{cmodel}}</span></li>
                                <li class="list-group-item"><span class="suggestion1"><strong>Date Purchased:</strong> {{cpdate | date:'MM/dd/yyyy'}}</span></li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="suggestion0"><strong>Email: {{coemail}}</strong></span></li>
                                <li class="list-group-item"><span class="suggestion1"><strong>Car Engine:</strong> {{cengine}}</span></li>
                                <li class="list-group-item"><span class="suggestion1"><strong>Car Body Type: </strong>{{cbodytype}}</span></li>
                                <li class="list-group-item"><span class="suggestion1"><strong>Km Reading: </strong>{{creading}}</span></li>
                                <li class="list-group-item"><span class="suggestion1"><strong>Year Model:</strong> {{cymodel}}</span></li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-xl-12">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="changeschad();">Re-Schadule</button>
                            <button type="button" class="btn btn-primary" ng-click="approvedate();">Approve Date</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="changescad" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 300px!important;">
            <div class="modal-content border-primary">
                <div class="card-body">
                    <p>
                        <h3> Kindly select 3 of your proposed date!</h3>
                    </p>
                    <div class="mb-4">
                        <label class="form-label"><strong>Schedule 1</strong><span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control cofd0" required/>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label"><strong>Schedule 2</strong><span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control cofd1" required/>

                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label"><strong>Schedule 3</strong><span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control cofd2" required/>
                        </div>
                    </div>

                </div>
                <div class="col-xl-12">
                    <div class="modal-footer">
                        <button type="button" class="btn w-100 btn-lg btn-primary" ng-click="spdate();"> Send Propose Date</button>
                    </div>
                </div>
            </div>
        </div>
    </div>