<div class="d-flex align-items-center mb-3">

    <div class="ms-auto">
        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalLg"><i class="fa fa-plus-circle fa-fw me-1"></i>Add New Inquiry</button>
    </div>

    <div class="modal fade" id="modalLg" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl " style="max-width: 1400px!important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Inquiry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <iframe src="./inqueryforms.html" class="iframe" scrolling="yes" frameborder="0" style=" width:100%; height:650px;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">

    <div class="tab-content p-4">
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group mb-3 w-200px">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>

            <div class="col-xl-6">
                <div class="form-group mb-3" style="float: right!important;">
                    <select class="form-select" ng-model="pageSize">
                        <option value="10">10</option>
                        <option value="100">100</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show active">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">Inquiry Date</th>
                            <th scope="col">Contact No.</th>
                            <th scope="col">Email</th>
                            <th scope="col">Make/Brand</th>
                            <th scope="col">Models</th>
                            <th scope="col">Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="inq in inqs | filter:q | itemsPerPage: pageSize | orderBy: '+requestdate'" current-page="currentPage">
                            <td class="text-center"><strong>{{$index+1}}</strong></td>
                            <td>{{inq.requestdate | date:'MM/dd/yyyy @ hh: mm:ss'}}

                            </td>
                            <td>{{inq.mobileno}}</td>
                            <td>{{inq.email}}</td>
                            <td>{{inq.make}}</td>
                            <td>{{inq.model}}</td>
                            <td class="w-200px">
                                <div class="btn-group btn-group-sm ">
                                    <button type="button" class="btn btn-success w-80px" data-bs-toggle="modal" data-bs-target="#estimate" ng-click="estimate(inq);"><i class="fas fa-calculator"> Estimate</i></button>
                                    <button type="button" class="btn btn-primary w-80px"><i class="fas fa-info-circle"> Details</i></button>
                                    <button type="button" class="btn btn-danger w-80px"><i class="fas fa-trash-alt"> Delete</i></button>
                                </div>
                            </td>

                    </tbody>
                </table>
            </div>


            <div class="d-md-flex align-items-center">
                <div class="me-md-auto text-md-left text-center mb-2 mb-md-0">

                </div>

                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)">

                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="estimate" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Estimate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form ng-submit="submit()">
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                       A) Preventive Maintenance
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-12">
                                                        <div class="btn-group btn-group-xs" style="float: right;">
                                                            <button type="button" class="btn  btn-danger btn-xs" ng-click="remtr()"><i class="fa fa-minus-circle"></i> DEL </button>
                                                            <button type="button" class="btn  btn-success btn-xs" ng-click="addtr()"> ADD <i class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="aind" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center th">Particulars</th>
                                                    <th class="text-center th">Description</th>
                                                    <th class="text-center th">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody id="aindadd">
                                                <tr class="row_to_clone">
                                                    <td class="col-md-2">
                                                        <input class="form-control" type="text" placeholder="Particulars">
                                                    </td>
                                                    </td>

                                                    <td class="col-md-6">
                                                        <input class="form-control" type="text" placeholder="Description">
                                                    </td>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <input class="form-control aintxt" type="number" placeholder="Cost" />
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-8 " colspan="2">
                                                        <h4 style="float:right"><strong>Sub Total</strong>
                                                        </h4>
                                                    </td>
                                                    </h4>
                                                    <!-- <td class="col-md-6"></td> -->

                                                    <td class="col-md-2">
                                                        <h4><label class="ainsum"> <strong>
                                                        <span id="ainsum" class="stotal">₱ 0.00</span></strong>
                                                    </label></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                        B) Change Oil
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-12">
                                                        <div class="btn-group btn-group-xs" style="float: right;">
                                                            <button type="button" class="btn  btn-danger btn-xs" ng-click="bpmremtr()"><i class="fa fa-minus-circle"></i> DEL </button>
                                                            <button type="button" class="btn  btn-success btn-xs" ng-click="bpmaddtr()"> ADD <i class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="bpm" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center th">Particulars</th>
                                                    <th class="text-center th">Description</th>
                                                    <th class="text-center th">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bpmdadd">
                                                <tr class="row_to_clone">
                                                    <td class="col-md-2">
                                                        <input class="form-control" type="text" placeholder="Particulars">
                                                    </td>
                                                    </td>

                                                    <td class="col-md-6">
                                                        <input class="form-control" type="text" placeholder="Description">
                                                    </td>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <input class="form-control pmtxt" type="number" placeholder="Cost" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-8 " colspan="2">
                                                        <h4 style="float:right"><strong>Sub Total</strong>
                                                        </h4>
                                                    </td>
                                                    </h4>
                                                    <!-- <td class="col-md-6"></td> -->

                                                    <td class="col-md-2">
                                                        <h4><label class="pmsum"> <strong>
                                                        <span id="pmsum" class="stotal">₱ 0.00</span></strong>
                                                    </label></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
                                        C) Wheel Alignment
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-12">
                                                        <div class="btn-group btn-group-xs" style="float: right;">
                                                            <button type="button" class="btn  btn-danger btn-xs" ng-click="ccoremtr()"><i class="fa fa-minus-circle"></i> DEL </button>
                                                            <button type="button" class="btn  btn-success btn-xs" ng-click="ccoaddtr()"> ADD <i class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="cco" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center th">Particulars</th>
                                                    <th class="text-center th">Description</th>
                                                    <th class="text-center th">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody id="ccoadd">
                                                <tr class="row_to_clone">
                                                    <td class="col-md-2">
                                                        <input class="form-control" type="text" placeholder="Particulars">
                                                    </td>
                                                    </td>

                                                    <td class="col-md-6">
                                                        <input class="form-control" type="text" placeholder="Description">
                                                    </td>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <input class="form-control ccotxt" type="number" placeholder="Cost" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-8 " colspan="2">
                                                        <h4 style="float:right"><strong>Sub Total</strong>
                                                        </h4>
                                                    </td>
                                                    </h4>
                                                    <!-- <td class="col-md-6"></td> -->

                                                    <td class="col-md-2">
                                                        <h4><label class="ccosum"> <strong>
                                                        <span id="ccosum" class="stotal">₱ 0.00</span></strong>
                                                    </label></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false">
                                        D) Tire Services
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-12">
                                                        <div class="btn-group btn-group-xs" style="float: right;">
                                                            <button type="button" class="btn  btn-danger btn-xs" ng-click="dtsremtr()"><i class="fa fa-minus-circle"></i> DEL </button>
                                                            <button type="button" class="btn  btn-success btn-xs" ng-click="dtsaddtr()"> ADD <i class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="dts" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center th">Particulars</th>
                                                    <th class="text-center th">Description</th>
                                                    <th class="text-center th">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dtsadd">
                                                <tr class="row_to_clone">
                                                    <td class="col-md-2">
                                                        <input class="form-control" type="text" placeholder="Particulars">
                                                    </td>
                                                    </td>

                                                    <td class="col-md-6">
                                                        <input class="form-control" type="text" placeholder="Description">
                                                    </td>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <input class="form-control dtstxt" type="number" placeholder="Cost" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-8 " colspan="2">
                                                        <h4 style="float:right"><strong>Sub Total</strong>
                                                        </h4>
                                                    </td>
                                                    </h4>
                                                    <!-- <td class="col-md-6"></td> -->

                                                    <td class="col-md-2">
                                                        <h4><label class="dtssum"> <strong>
                                                        <span id="dtssum" class="stotal">₱ 0.00</span></strong>
                                                    </label></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false">
                                        E) General Repairs
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-12">
                                                        <div class="btn-group btn-group-xs" style="float: right;">
                                                            <button type="button" class="btn  btn-danger btn-xs" ng-click="grsremtr()"><i class="fa fa-minus-circle"></i> DEL </button>
                                                            <button type="button" class="btn  btn-success btn-xs" ng-click="grsaddtr()"> ADD <i class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="grs" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center th">Particulars</th>
                                                    <th class="text-center th">Description</th>
                                                    <th class="text-center th">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody id="grsadd">
                                                <tr class="row_to_clone">
                                                    <td class="col-md-2">
                                                        <input class="form-control" type="text" placeholder="Particulars">
                                                    </td>
                                                    </td>

                                                    <td class="col-md-6">
                                                        <input class="form-control" type="text" placeholder="Description">
                                                    </td>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <input class="form-control grstxt" type="number" placeholder="Cost" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-8 " colspan="2">
                                                        <h4 style="float:right"><strong>Sub Total</strong>
                                                        </h4>
                                                    </td>
                                                    </h4>
                                                    <!-- <td class="col-md-6"></td> -->

                                                    <td class="col-md-2">
                                                        <h4><label class="grssum"> <strong>
                                                        <span id="grssum" class="stotal">₱ 0.00</span></strong>
                                                    </label></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false">
                                        F) Parts & Materials
                                    </button>
                                </h2>
                                <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-12">
                                                        <div class="btn-group btn-group-xs" style="float: right;">
                                                            <button type="button" class="btn  btn-danger btn-xs" ng-click="pnmsremtr()"><i class="fa fa-minus-circle"></i> DEL </button>
                                                            <button type="button" class="btn  btn-success btn-xs" ng-click="pnmsaddtr()"> ADD <i class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="pnms" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center th">Particulars</th>
                                                    <th class="text-center th">Description</th>
                                                    <th class="text-center th">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody id="pnmsadd">
                                                <tr class="row_to_clone">
                                                    <td class="col-md-2">
                                                        <input class="form-control" type="text" placeholder="Particulars">
                                                    </td>
                                                    </td>

                                                    <td class="col-md-6">
                                                        <input class="form-control" type="text" placeholder="Description">
                                                    </td>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <input class="form-control pnmstxt" type="number" placeholder="Cost" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-8 " colspan="2">
                                                        <h4 style="float:right"><strong>Sub Total</strong>
                                                        </h4>
                                                    </td>
                                                    </h4>
                                                    <!-- <td class="col-md-6"></td> -->

                                                    <td class="col-md-2">
                                                        <h4><label class="pnmssum"> <strong>
                                                        <span id="pnmssum" class="stotal">₱ 0.00</span></strong>
                                                    </label></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false">
                                        G) Inspection & Diagnosis
                                    </button>
                                </h2>
                                <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-12">
                                                        <div class="btn-group btn-group-xs" style="float: right;">
                                                            <button type="button" class="btn  btn-danger btn-xs" ng-click="indsremtr()"><i class="fa fa-minus-circle"></i> DEL </button>
                                                            <button type="button" class="btn  btn-success btn-xs" ng-click="indsaddtr()"> ADD <i class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="inds" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center th">Particulars</th>
                                                    <th class="text-center th">Description</th>
                                                    <th class="text-center th">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody id="indsadd">
                                                <tr class="row_to_clone">
                                                    <td class="col-md-2">
                                                        <input class="form-control" type="text" placeholder="Particulars">
                                                    </td>
                                                    </td>

                                                    <td class="col-md-6">
                                                        <input class="form-control" type="text" placeholder="Description">
                                                    </td>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <input class="form-control indstxt" type="number" placeholder="Cost" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-8 " colspan="2">
                                                        <h4 style="float:right"><strong>Sub Total</strong>
                                                        </h4>
                                                    </td>
                                                    </h4>
                                                    <!-- <td class="col-md-6"></td> -->

                                                    <td class="col-md-2">
                                                        <h4><label class="indssum"> <strong>
                                                        <span id="indssum" class="stotal">₱ 0.00</span></strong>
                                                    </label></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="col-md-8 " colspan="2">
                                            <h4 style="float:right"><strong>Total</strong>
                                            </h4>
                                        </td>
                                        <td class="col-md-2">
                                            <label class="grandt"> <strong>
                                            <span id="grandt">₱ 0.00</span></strong>
                                        </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-8 " colspan="2">
                                            <h6 style="float:right"><strong>Vat (12%)</strong>
                                            </h6>
                                        </td>
                                        <td class="col-md-2">
                                            <label class="gvat"> <strong>
                                            <span id="gvat">₱ 0.00</span></strong>
                                        </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-8 " colspan="2">
                                            <h6 style="float:right"><strong>Grand Total</strong>
                                            </h6>
                                        </td>
                                        <td class="col-md-2">
                                            <h6> <label class="grandtnvat"> <strong>
                                            <span id="tgvat">₱ 0.00</span></strong>
                                        </label></h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <footer class="modal-footer">
                        <button type="submit" class="btn btn-success" ng-click="sendestimate();">SAVE & SEND</button>
                        <button type="submit" class="btn btn-primary" ng-click="savedestimate();">SAVE ONLY</button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>