.autoserved-dashboard-page--login {
    .autoserved-dashboard__main-content__children {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}