<!DOCTYPE html>
<html lang="en-us" id="extr-page">



<head>
    <meta charset="utf-8" />
    <title>AutoServed | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- ================== BEGIN core-css ================== -->
    <link href="assets/css/vendor.min.css" rel="stylesheet" />
    <link href="assets/css/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->

    <script src="./assets/js/angular.js"></script>
    <script src="./assets/js/angular-route.js"></script>
    <script src="./assets/js/jquery.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>



    <link href="assets/css/vendor.min.css" rel="stylesheet" />
    <link href="assets/css/app.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <style>
        p {
            margin-bottom: 1px!important;
            font-size: 9px!important;
        }
        
        .main {
            margin-left: 1%!important;
            margin-right: 1%!important;
        }
        
        table,
        tr,
        th,
        td {
            border-top: none!important;
            border-left: none!important;
            border-right: none!important;
            border-bottom: none!important;
            background-color: transparent!important;
        }
    </style>

</head>

<body class="animated fadeInDown" ng-app="myApp">



    <div class="main" role="main" ng-controller="qoutes">
        <table class="table">
            <thead>
                <tr style="height:1px!important">
                    <th style="float: left!important;">

                        <p>Plate Number</p>
                        <p>
                            <h4>ABC-123</h4>
                        </p>

                        <img src="./assets/img/qr.png" width="100" style="margin-left: -8px!important;">
                        <p>
                            <h4>&nbsp;</h4>
                        </p>
                        <p>
                            <h4>&nbsp;</h4>
                        </p>
                    </th>

                    <th style="float: right!important;text-align: right!important;font-size: 11px;">
                        <img src="./assets/img/vpx.png" width="100" style="margin-right: -8px!important;">
                        <p class="text-right">
                            JOHN’S CAR CARE CENTER
                        </p>
                        <p>
                            No. 1 Street Name St., Town, Country 1234
                        </p>
                        <p>
                            Phone No. +63-12-345-6789
                        </p>
                        <p>
                            SEPTEMBER 17, 2021
                        </p>
                        <p>
                            QUOTATION NO. 0001-ABC123
                        </p>
                    </th>
                </tr>
                <tr>
                    <th class="text-center" colspan="3">JOB QUOTATION</th>
                </tr>
            </thead>

        </table>
        <hr class="new5">
        <div style="padding-left: 2%!important;">
            <strong>
                <p> Customer Name: Mr. Donald Trump </p>
                <p> Address: 987 New Jersey St. Tampa Florida </p>
                <p> Phone : {{mobile}} </p>
                <p> Email: {{email}} </p>
            </strong>
        </div>



        <hr class="new5">
        <table class="table table-borderless">
            <thead>
                <tr style="height:1px!important">
                    <th scope="col" class="text-left" style="float: left!important;">
                        <p> Vehicle Make: Lincoln</p>
                        <p>Model: Navigator</p>
                        <p>Transmission: Automatic</p>
                        <p>VIN : 1FMRU1234567890</p>
                    </th>
                    <th scope="col" class="text-right" style="float: right!important;">
                        <p> Vehicle Year: 2016</p>
                        <p> Engine: Gas</p>
                        <p> Mileage: 34,560 KM</p>
                        <p>&nbsp;</p>
                    </th>
                </tr>
            </thead>
        </table>
        <hr class="new5">
        <h3>SERVICE REQUESTED</h3>
        <h6>A) Preventive Maintenance</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-left ">Jobs</th>
                    <th class="text-center ">Description</th>
                    <th class="text-right ">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qts in qoutes.quotes.aa">
                    <td style="text-align: left;">• {{qts['Particulars']}}</td>
                    <td style="text-align: center;">{{qts['Description']}}</td>
                    <td style="text-align: right;">{{qts['Cost']| currency:"₱ ":2}}

                    </td>

                </tr>

                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong> <hr class="new5"><br> Sub total: <span>{{qoutes.quotes.stotal0}}</span>
                      </td></strong>
                </tr>
            </tbody>
        </table>
        <br>
        <h6>B) Change Oil</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-left ">Jobs</th>
                    <th class="text-center ">Description</th>
                    <th class="text-right ">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qts in qoutes.quotes.bb">
                    <td style="text-align: left;">• {{qts['Particulars']}}</td>
                    <td style="text-align: center;">{{qts['Description']}}</td>
                    <td style="text-align: right;">{{qts['Cost'] | currency:"₱ ":2}}</td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong> <hr class="new5"><br> Sub total: <span>{{qoutes.quotes.stotal1}}</span>
                        </td></strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h6>C) Wheel Alignment</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-left">Jobs</th>
                    <th class="text-center">Description</th>
                    <th class="text-right">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qts in qoutes.quotes.cc">
                    <td style="text-align: left;">• {{qts['Particulars']}}</td>
                    <td style="text-align: center;">{{qts['Description']}}</td>
                    <td style="text-align: right;">{{qts['Cost']| currency:"₱ ":2}}</td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong> <hr class="new5"><br> Sub total: <span>{{qoutes.quotes.stotal2}}</span>
                        </td></strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h6>D) Tire Services</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-left">Jobs</th>
                    <th class="text-center">Description</th>
                    <th class="text-right">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qts in qoutes.quotes.cc">
                    <td style="text-align: left;">• {{qts['Particulars']}}</td>
                    <td style="text-align: center;">{{qts['Description']}}</td>
                    <td style="text-align: right;">{{qts['Cost']| currency:"₱ ":2}}</td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong> <hr class="new5"><br> Sub total: <span>{{qoutes.quotes.stotal2}}</span>
                        </td></strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h6>E) Wheel Alignment</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-left">Jobs</th>
                    <th class="text-center">Description</th>
                    <th class="text-right">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qts in qoutes.quotes.cc">
                    <td style="text-align: left;">• {{qts['Particulars']}}</td>
                    <td style="text-align: center;">{{qts['Description']}}</td>
                    <td style="text-align: right;">{{qts['Cost']| currency:"₱ ":2}}</td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong> <hr class="new5"><br> Sub total: <span>{{qoutes.quotes.stotal2}}</span>
                        </td></strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h6>F) Parts & Materials</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-left">Jobs</th>
                    <th class="text-center">Description</th>
                    <th class="text-right">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qts in qoutes.quotes.cc">
                    <td style="text-align: left;">• {{qts['Particulars']}}</td>
                    <td style="text-align: center;">{{qts['Description']}}</td>
                    <td style="text-align: right;">{{qts['Cost']| currency:"₱ ":2}}</td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong> <hr class="new5"><br> Sub total: <span>{{qoutes.quotes.stotal2}}</span>
                        </td></strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h6>G) Inspection & Diagnosis</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-left">Jobs</th>
                    <th class="text-center">Description</th>
                    <th class="text-right">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qts in qoutes.quotes.cc">
                    <td style="text-align: left;">• {{qts['Particulars']}}</td>
                    <td style="text-align: center;">{{qts['Description']}}</td>
                    <td style="text-align: right;">{{qts['Cost']| currency:"₱ ":2}}</td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong> <hr class="new5"><br> Sub total: <span>{{qoutes.quotes.stotal2}}</span>
                        </td></strong>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="new5">

        <table class="table">

            <thead>

                <tr style="height:1px!important">

                    <th class="text-left ">
                        <p>TOTAL LABOR:5,500.00</p>
                        <p>TOTAL PARTS: 20,500.00</p>
                        <p>TOTAL MATERIAL: 1,200.00</p>
                        <p>TOTAL 12% VAT: 3,264.00</p>

                    </th>
                    <th class="text-right" style="float:right!important;">
                        <p style="font-size: 10px!important;"> <strong>GRAND TOTAL: {{grandtotal}}</strong> </p>
                        <p style="font-size: 10px!important;"> <strong> REQUIRED DP: {{downpayment | currency: "₱ ":2}}</strong></p>
                        <p style="font-size: 10px!important;"> Mileage: 34,560 KM</p>
                    </th>
                </tr>

            </thead>

        </table>

        <hr class="new5">

        <div>
            <table class="table">

                <thead>
                    <tr>
                        <th class="text-center" colspan="2">
                            <span> <img  src="./assets/img/qr.png" alt=""></span>
                            <p>Present this QrCode @ the Shop</p>
                        </th>
                    </tr>

                    <tr style="height:1px!important">

                        <th>

                            <button type="button" class="btn btn-danger btn-lg w-100" ng-click="defered()">NO</button>
                        </th>
                        <th>

                            <button type="button" class="btn btn-success btn-lg w-100" ng-click="booking()">YES</button>
                        </th>
                    </tr>


                </thead>

            </table>


        </div>
    </div>


    <div class="modal fade" id="modalSm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-xl-6">
                                <p>
                                    <h2>Set Appointment</h2>
                                </p>
                                <div class="mb-4">
                                    <label class="form-label"><strong>Full Name</strong><span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="cofn" required/>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label"><strong>Complete Address</strong><span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="4" spellcheck="false" ng-model="coadd" required></textarea>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label"><strong>Car Plate #</strong><span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="copn" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <p>
                                    <h3> Kindly select 3 of your prefered date & time schedule!</h3>
                                </p>
                                <div class="mb-4">
                                    <label class="form-label"><strong> Schedule 1</strong><span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" ng-model="cofd0" required/>
                                        <label class="input-group-text" for="datepicker-component">OK</label>
                                    </div><br>
                                    <div class="input-group">
                                        <input type="time" class="form-control" ng-model="coft0" required/>
                                        <label class="input-group-text" for="datepicker-component">OK</label>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label"><strong>Schedule 2</strong><span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" ng-model="cofd1" required/>
                                        <label class="input-group-text" for="datepicker-component">OK</label>
                                    </div><br>
                                    <div class="input-group">
                                        <input type="time" class="form-control" ng-model="coft1" required/>
                                        <label class="input-group-text" for="datepicker-component">OK</label>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label"><strong>Schedule 3</strong><span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" ng-model="cofd2" required/>
                                        <label class="input-group-text" for="datepicker-component">OK</label>
                                    </div><br>
                                    <div class="input-group">
                                        <input type="time" class="form-control" ng-model="coft2" required/>
                                        <label class="input-group-text" for="datepicker-component">OK</label>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <button type="button" class="btn btn-primary btn-lg w-100 accept">Book Now!</button>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
<script src="./qoutes.js"></script>
<script src="./assets/js/vendor.min.js"></script>
<script src="./assets/js/app.min.js"></script>

</html>