<!DOCTYPE html>
<html lang="en-us" id="extr-page">



<head>
    <meta charset="utf-8" />
    <title>AutoServed | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- ================== BEGIN core-css ================== -->
    <link href="assets/css/vendor.min.css" rel="stylesheet" />
    <link href="assets/css/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->

    <script src="./assets/js/angular.js"></script>
    <script src="./assets/js/angular-route.js"></script>
    <script src="./assets/js/jquery.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>



    <link href="assets/css/vendor.min.css" rel="stylesheet" />
    <link href="assets/css/app.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <style>
        p {
            margin-bottom: 1px!important;
            font-size: 9px!important;
        }
        
        .main {
            margin-left: 1%!important;
            margin-right: 1%!important;
        }
        
        table,
        tr,
        th,
        td {
            border-top: none!important;
            border-left: none!important;
            border-right: none!important;
            border-bottom: none!important;
            background-color: transparent!important;
        }
    </style>

</head>

<body class="animated fadeInDown" ng-app="myApp" ng-controller='changescad'>


    <div class="modal fade" id="changescad" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content border-primary">
                <div class="card-body">
                    <p>
                        <h3>Shop Proposed Dates</h3>
                    </p>
                    <div class="col-xl-8">
                        <div class="list-group" ng-repeat='dt in dates'>
                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center text-dark">

                                <div class="flex-fill px-3">
                                    <div class="fw-600"><i class="fas fa-calendar-alt"></i> Schedule {{$index+1}}</div>
                                </div>
                                <div>
                                    <span class="badge bg-transparent border border-primary text-primary fs-12px fw-500 rounded-sm">
                                        {{dt.start}}
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-xl-12">
                    <div class="modal-footer">
                        <button type="button" class="btn  btn-lg btn-success w-100" ng-click="approve();"> Approve</button>
                        <button type="button" class="btn btn-lg btn-warning w-100" ng-click="reschedule();"> Reschedule</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changesdate" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 300px!important;">
            <div class="modal-content border-primary">
                <div class="card-body">
                    <p>
                        <h3>Your Proposed Dates</h3>
                    </p>
                    <div class="mb-4">
                        <label class="form-label"><strong>Schedule 1</strong><span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control fd0" required/>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label"><strong>Schedule 2</strong><span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control fd1" required/>

                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label"><strong>Schedule 3</strong><span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control fd2" required/>
                        </div>
                    </div>

                </div>
                <div class="col-xl-12">
                    <div class="modal-footer">
                        <button type="button" class="btn  btn-lg btn-info w-100" ng-click="goback();"> Go back</button>
                        <button type="button" class="btn  btn-lg btn-success w-100" ng-click="proposedate();"> Send Proposed Date</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="./reschadulejs.js"></script>
<script src="./assets/js/vendor.min.js"></script>
<script src="./assets/js/app.min.js"></script>

</html>